<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li><a href="~">Information</a></li>
    </ul>
    <img src="~/greenfox.png" />
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>