<h1>Add new todo</h1>

<form method="post" action="AddToDo">
    <label for="title">Name</label>
    <input id="title" name="title" type="text" />
    <label for="isUrgent">Is Urgent?</label>
    <select name="isUrgent">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <button type="submit">Add</button>
</form>