<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="~/useful/colored/">COLORED</a></li>
                <li><a href="~/useful/email/">EMAIL</a></li>
                <li><a href="~/useful/caesar/">CAESAR</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>